title: SER-Bimodal-Embedding-MelSpec-F0-MDAT-F0-Mean_pooling-FineTuning-WhisperLargeV3-(F0CrossAtt-${model.use_cross_f0_attn})-(Loss-${loss.name})-(Prior-${loss.use_weighted_loss})-(BS-${data.use_balanced_sampling})-(BS-Scheduler-${data.use_balanced_sampling_scheduler})-(BS-Scheduler-Direction-${data.class_weight_direction})-(BS-Scheduler-Degree-${data.class_weight_ratio_degree})-(AudioPooling-${model.audio_pooling_strategy})-(TextPooling-${model.text_pooling_strategy})-(epochs-${trainer.max_epochs})-(bs-${train.batch_size})-(LR-${optimizer.params.learning_rate})

wandb_entity: alefiury

loss:
    name: "ce"
    gamma: 2.0
    alpha: 0.5
    use_weighted_loss: true # Uses "prior" weights as in https://www.isca-archive.org/odyssey_2024/chen24_odyssey.pdf

datasets:
    train:
        - name: Train
          metadata_path: "/hadatasets/alef.ferreira/SER/Interspeech/InterSpeech-SER-2025/Dataset/transcribed_canary_train_set.csv"
          base_dir: "/hadatasets/alef.ferreira/SER/Interspeech/Audios"
          audio_base_dir: "/hadatasets/alef.ferreira/SER/Interspeech/whisper-large-v3-v2"
          text_base_dir: "/hadatasets/alef.ferreira/SER/Interspeech/Texts_E5_last_layer"
          f0_base_dir: "/hadatasets/alef.ferreira/SER/Interspeech/pitch_rmvpe"
          filename_column: "FileName"
          target_column: "EmoClass"

    val:
        - name: Validation
          metadata_path: "/hadatasets/alef.ferreira/SER/Interspeech/InterSpeech-SER-2025/Dataset/transcribed_canary_complete_dev.csv"
          base_dir: "/hadatasets/alef.ferreira/SER/Interspeech/Audios"
          audio_base_dir: "/hadatasets/alef.ferreira/SER/Interspeech/whisper-large-v3-v2"
          text_base_dir: "/hadatasets/alef.ferreira/SER/Interspeech/Texts_E5_last_layer"
          f0_base_dir: "/hadatasets/alef.ferreira/SER/Interspeech/pitch_rmvpe"
          filename_column: "FileName"
          target_column: "EmoClass"

data:
    num_classes: 8

    target_sr: 16000

    use_balanced_sampling: false # If true, the dataset will be balanced based on the inverse frequency of the classes
    use_balanced_sampling_scheduler: false # If true, the dataset will be balanced based on the inverse frequency of the classes, but the weights will be updated during training
    class_weight_direction: "to_uniform" # can be 'to_uniform' or 'to_distribution', this parameter is used to define the direction of the class weights
    class_weight_ratio_degree: 1 # 1 = linear, > 1 = polynomial

    # Seqaug config
    use_seqaug: false
    seqaug_alpha: 0.5
    seqaug_p: 0.5

    use_rand_truncation: true # If true, the audio will be randomly truncated between min_duration and the original duration
    min_duration: 3.0 # min duration (in seconds), only used if use_rand_truncation is True

    # label2id must represent the names of the target in the metadata file
    label2id: {
        "A": 0,
        "C": 1,
        "D": 2,
        "F": 3,
        "H": 4,
        "N": 5,
        "S": 6,
        "U": 7
    }

train:
    batch_size: 8
    shuffle: True
    num_workers: 12

model:
    model_type: "bimodal_embedding_f0_melspec"

    # Audio config
    audio_pooling_strategy: "mean"
    # audio_pooling_strategy: "attpool" # Attention pooling

    # Text config
    text_pooling_strategy: "mean"
    # text_pooling_strategy: "attpool" # Attention pooling

    mlp_input_dim: 2048 # Must be adapted to the model
    # mlp_input_dim: 3072 # Must be adapted to the model
    mlp_hidden_dim: ${model.mlp_input_dim} # Must be adapted to the model, should be the same as mlp_input_dim
    mlp_num_layers: 1
    mlp_output_size: ${data.num_classes}
    mlp_dropout: 0.5
    mlp_activation_func: "relu"

    # Projection config
    audio_feat_dim: 1280
    audio_proj_dim: 512
    text_feat_dim: 1024
    text_proj_dim: 512
    audio_proj_dropout: 0.5
    text_proj_dropout: 0.5

    # MelSpec encoder
    mel_spec_encoder_pretrained: true
    # mel_spec_encoder_embedding_dim: 256 # mini
    mel_spec_encoder_embedding_dim: 384 # small
    # mel_spec_encoder_embedding_dim: 768 # base
    mel_spec_encoder_proj_size: 512
    mel_spec_encoder_proj_dropout: 0.5
    mel_spec_encoder_freeze_backbone: false

    # F0 config
    num_f0_bins: 256
    f0_embedding_dim: 512
    f0_proj_size: 512
    f0_proj_dropout: 0.5
    f0_pooling_strategy: "mean"

    # Works for all configs below
    use_cross_f0_attn: false

    # Transformer config
    use_transformer_enc: false

    # BiLSTM config
    use_bi_lstm_cross_attn: false

    # HCAM config
    use_hcam: false

    # MDAT config
    use_mdat: true

optimizer:
    name: "adamw"
    params:
        min_learning_rate: 1e-5 # Same used in https://ecs.utdallas.edu/research/researchlabs/msp-lab/publications/Goncalves_2024.pdf
        learning_rate: 5e-5 # Same used in https://ecs.utdallas.edu/research/researchlabs/msp-lab/publications/Goncalves_2024.pdf
        eps: 1e-8
        weight_decay: 1e-6
        betas: [0.9, 0.98]

scheduler:
    name: "CosineWarmupLR"
    params:
        warmup_lr: 500

tags:
    - ${train.batch_size}-BS
    - LR-${optimizer.params.learning_rate}
    - WD-${optimizer.params.weight_decay}
    - ${model.mlp_input_dim}-AH
    - ${model.mlp_hidden_dim}-HL
    - ${model.mlp_num_layers}-IS

trainer:
    accelerator: "gpu"
    max_epochs: 30
    num_sanity_val_steps: 2
    overfit_batches: 0.0
    log_every_n_steps: 10
    gradient_clip_val: 10.0
    gradient_clip_algorithm: "norm"
    val_check_interval: 1.0 # Every 1 epoch
    accumulate_grad_batches: 1
    reload_dataloaders_every_n_epochs: 0 # This should be set to 1 if "data.use_balanced_sampling_scheduler" is True

model_checkpoint:
    mode: "max"
    save_last: true
    save_weights_only: true
    monitor: "val/f1-score"
    dirpath: "../checkpoints/ser-2025"
    filename: "{epoch:02d}-{val/f1-score:.4f}"