title: SER-Dynamic-FineTuning-NEST-${model.model_name})-(LayerStrategy-${model.layer_weight_strategy})-(PoolStrategy-${model.pooling_strategy})-(FreezeBackbone-${model.freeze_backbone})-(epochs-${trainer.max_epochs})-(bs-${train.batch_size})-(LR-${optimizer.params.learning_rate})

wandb_entity: alefiury

datasets:
    train:
        - name: Train
          metadata_path: "/raid/alefiury/SER/InterSpeech2025/InterSpeech-SER-2025/Dataset/train_set.csv"
          base_dir: "/raid/alefiury/SER/InterSpeech2025/challenge_dataset/Audios"
          filename_column: "FileName"
          target_column: "EmoClass"

    val:
        - name: Validation
          metadata_path: "/raid/alefiury/SER/InterSpeech2025/InterSpeech-SER-2025/Dataset/validation_set.csv"
          base_dir: "/raid/alefiury/SER/InterSpeech2025/challenge_dataset/Audios"
          filename_column: "FileName"
          target_column: "EmoClass"

data:
    num_classes: 8

    target_sr: 16000

    mixup_alpha: 0.0 # 0.0 to disable
    use_rand_truncation: false
    min_duration: 2.0 # min duration (in seconds), only used if use_rand_truncation is True
    min_white_noise_amp: 0.01 # min amplitude of white noise to be added, only used if insert_white_noise is True
    max_white_noise_amp: 0.1 # max amplitude of white noise to be added, only used if insert_white_noise is True
    insert_white_noise: false

    # label2id must represent the names of the target in the metadata file
    label2id: {
        "A": 0,
        "C": 1,
        "D": 2,
        "F": 3,
        "H": 4,
        "N": 5,
        "S": 6,
        "U": 7
    }

train:
    batch_size: 64
    shuffle: True
    num_workers: 12

model:
    model_type: "nest"

    model_name: "nvidia/ssl_en_nest_large_v1.0" # 18 layers, 512 hidden size
    # model_name: "nvidia/ssl_en_nest_xlarge_v1.0"

    mlp_input_dim: 512 # Must be adapted to the model
    # mlp_input_dim: 1024 # Must be adapted to the model

    mlp_hidden_dim: ${model.mlp_input_dim} # Must be adapted to the model, should be the same as mlp_input_dim
    mlp_num_layers: 1
    mlp_output_size: ${data.num_classes}
    mlp_dropout: 0.1
    mlp_activation_func: "relu"
    layer_weight_strategy: "per_layer"

    num_feature_layers: 18 # Must be adapted to the model
    # num_feature_layers: 49 # Must be adapted to the model

    specific_layer_idx: -1 # Take the last layer
    pooling_strategy: "mean" # Take the mean of the sequence in the last layer

    freeze_backbone: false

optimizer:
    name: "adamw"
    params:
        min_learning_rate: 1e-5 # Same used in https://ecs.utdallas.edu/research/researchlabs/msp-lab/publications/Goncalves_2024.pdf
        learning_rate: 5e-5 # Same used in https://ecs.utdallas.edu/research/researchlabs/msp-lab/publications/Goncalves_2024.pdf
        eps: 1e-8
        weight_decay: 1e-6
        betas: [0.9, 0.98]

scheduler:
    name: "CosineWarmupLR"
    params:
        warmup_lr: 500

tags:
    - ${train.batch_size}-BS
    - LR-${optimizer.params.learning_rate}
    - WD-${optimizer.params.weight_decay}
    - ${model.mlp_input_dim}-AH
    - ${model.mlp_hidden_dim}-HL
    - ${model.mlp_num_layers}-IS
    - ${model.mlp_dropout}-DO
    - ${model.mlp_activation_func}-AF
    - ${model.layer_weight_strategy}-LWS
    - ${model.num_feature_layers}-NFL
    - ${model.specific_layer_idx}-SLI
    - ${model.pooling_strategy}-PS

trainer:
    accelerator: "gpu"
    max_epochs: 100
    num_sanity_val_steps: 2
    overfit_batches: 0.0
    log_every_n_steps: 10
    gradient_clip_val: 10.0
    gradient_clip_algorithm: "norm"
    val_check_interval: 1.0 # Every 1 epoch
    accumulate_grad_batches: 1

model_checkpoint:
    mode: "max"
    save_last: true
    save_weights_only: true
    monitor: "val/f1-score"
    dirpath: "../checkpoints/ser-2025"
    filename: "{epoch:02d}-{step:02d}-{val/f1-score:.4f}"