title: SER-Dynamic-FineTuning-XEUS-(Loss-${loss.name})-(BS-${data.use_balanced_sampling})-(LayerStrategy-${model.layer_weight_strategy})-(PoolStrategy-${model.pooling_strategy})-(FreezeBackbone-${model.freeze_backbone})-(epochs-${trainer.max_epochs})-(bs-${train.batch_size})-(LR-${optimizer.params.learning_rate})

wandb_entity: alefiury

loss:
    name: "ce"
    gamma: 2.0
    alpha: 0.5
    use_weighted_loss: false # Uses "prior" weights as in https://www.isca-archive.org/odyssey_2024/chen24_odyssey.pdf

datasets:
    train:
        - name: Train
          metadata_path: "/raid/alefiury/SER/InterSpeech2025/challenge_dataset/train-X_and_O_filtered.csv"
          base_dir: "/raid/alefiury/SER/InterSpeech2025/challenge_dataset/Audios"
          filename_column: "FileName"
          target_column: "EmoClass"

    val:
        - name: Validation
          metadata_path: "/raid/alefiury/SER/InterSpeech2025/challenge_dataset/val-X_and_O_filtered.csv"
          base_dir: "/raid/alefiury/SER/InterSpeech2025/challenge_dataset/Audios"
          filename_column: "FileName"
          target_column: "EmoClass"

data:
    num_classes: 32

    target_sr: 16000

    use_balanced_sampling: false # If true, the dataset will be balanced based on the inverse frequency of the classes

    mixup_alpha: 0.0 # 0.0 to disable mixup, if you want to use mixup, set this value to 0.5 (recommended)

    use_rand_truncation: false # If true, the audio will be randomly truncated between min_duration and the original duration
    min_duration: 2.0 # min duration (in seconds), only used if use_rand_truncation is True

    use_background_noise: false # If true, background noise will be added to the audio (Music and environmental noise)
    background_noise_dir: "/raid/alefiury/SER/InterSpeech2025/InterSpeech-SER-2025/augmentation_data/musan"
    background_noise_min_snr_in_db: 3.0
    background_noise_max_snr_in_db: 15.0
    background_noise_p: 0.5

    use_rir: false # If true, RIRs (reverberation) will be added to the audio
    rir_dir: "/raid/alefiury/SER/InterSpeech2025/InterSpeech-SER-2025/augmentation_data/RIRS_NOISES"
    rir_p: 0.5

    # label2id must represent the names of the target in the metadata file
    label2id: {
        "A": 0,
        "C": 1,
        "D": 2,
        "F": 3,
        "H": 4,
        "N": 5,
        "S": 6,
        "U": 7
    }

train:
    batch_size: 32
    shuffle: True
    num_workers: 12

model:
    model_type: "xeus"

    checkpoint_path: "/raid/alefiury/SER/InterSpeech2025/InterSpeech-SER-2025/ssl_checkpoints/XEUS/xeus_checkpoint.pth"

    mlp_input_dim: 1024 # Must be adapted to the model
    mlp_hidden_dim: ${model.mlp_input_dim} # Must be adapted to the model, should be the same as mlp_input_dim
    mlp_num_layers: 1
    mlp_output_size: ${data.num_classes}
    mlp_dropout: 0.1
    mlp_activation_func: "relu"
    layer_weight_strategy: "per_layer"
    num_feature_layers: 19 # Must be adapted to the model
    specific_layer_idx: -1 # Take the last layer
    pooling_strategy: "mean" # Take the mean of the sequence in the last layer

    freeze_backbone: true

optimizer:
    name: "adamw"
    params:
        min_learning_rate: 1e-5 # Same used in https://ecs.utdallas.edu/research/researchlabs/msp-lab/publications/Goncalves_2024.pdf
        learning_rate: 5e-5 # Same used in https://ecs.utdallas.edu/research/researchlabs/msp-lab/publications/Goncalves_2024.pdf
        eps: 1e-8
        weight_decay: 1e-6
        betas: [0.9, 0.98]

scheduler:
    name: "CosineWarmupLR"
    params:
        warmup_lr: 500

tags:
    - ${train.batch_size}-BS
    - LR-${optimizer.params.learning_rate}
    - WD-${optimizer.params.weight_decay}
    - ${model.mlp_input_dim}-AH
    - ${model.mlp_hidden_dim}-HL
    - ${model.mlp_num_layers}-IS
    - ${model.mlp_dropout}-DO
    - ${model.mlp_activation_func}-AF
    - ${model.layer_weight_strategy}-LWS
    - ${model.num_feature_layers}-NFL
    - ${model.specific_layer_idx}-SLI
    - ${model.pooling_strategy}-PS

trainer:
    accelerator: "gpu"
    max_epochs: 100
    num_sanity_val_steps: 2
    overfit_batches: 0.0
    log_every_n_steps: 10
    gradient_clip_val: 10.0
    gradient_clip_algorithm: "norm"
    val_check_interval: 1.0 # Every 1 epoch
    accumulate_grad_batches: 1

model_checkpoint:
    mode: "max"
    save_last: true
    save_weights_only: true
    save_top_k: 3
    monitor: "val/f1-score"
    dirpath: "../checkpoints/ser-2025"
    filename: "{epoch:02d}-{step:02d}-{val/f1-score:.4f}"